<li>
  <%= gravatar_for user, size: Settings.micropost.gravatar.size %>
  <%= link_to user.name, user %>
  <% if current_user.is_admin? && !current_user?(user) %>
    | <%= link_to t(".delete"), user, method: :delete, data: {confirm: t(".sure")} %>
  <% end %>
</li>
