<% if @user.errors.any? %>
  <div class="error_explanation">
    <div class="alert alert-danger">
      <%= t ".form_contain" %> <%= pluralize @user.errors.count, t(".error") %>.
    </div>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
