@import 'bootstrap-sprockets';
@import 'bootstrap';

/* Declare variable for color code */
$gray: #777;
$gray-light: #555;
$gray-lighter: #222;
$gray-hidden: #eaeaea;
$gray-white: #bbb;
$red: red;
$white: #fff;

/* Declare mixin for box */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Commons */
body {
  padding-top: 60px;
  margin: 0 80px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center{
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: $gray;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Header */
.logo {
  color: $white;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
  text-transform: uppercase;

  &:hover {
    color: $gray-white;
    text-decoration: underline;
  }
}

/* Footer */
footer {
  border-top: 1px solid $gray-hidden;
  color: $gray;
  margin-top: 45px;
  padding-top: 5px;
  a {
    color: $gray-light;

    &:hover {
      color: $gray-lighter;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    margin-top: 20px;
    padding: 10px 0;
    span {
      display: block;
      line-height: 1;
      margin-bottom: 3px;
    }
    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      text-align: left;
    }

    &:first-child {
      border: 0;
      padding-top: 0;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid $gray-white;
  height: auto;
  margin-bottom: 15px;
  width: 100%;
  @include box_sizing;
}

input[type=submit] {
  @extend .btn;
  @extend .btn-primary;
}

.error_explanation {
  color: $red;
  ul {
    color: $red;
    margin-bottom: 30px;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin: -10px 0 10px;
  input[type=checkbox] {
    margin-left: 0px;
  }
  span {
    font-weight: bold;
    line-height: 25px;
    margin-left: 25px;
    vertical-align: middle;
  }
}

.remember {
  width: auto;
}
